USE [ProjectInfo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21-08-2025 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeProjectLogs]    Script Date: 21-08-2025 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeProjectLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[LogDate] [date] NOT NULL,
	[HoursLogged] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeProjectLogs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 21-08-2025 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Manager] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250819212206_addDatabase', N'8.0.19')
GO
SET IDENTITY_INSERT [dbo].[EmployeeProjectLogs] ON 

INSERT [dbo].[EmployeeProjectLogs] ([LogId], [ProjectId], [EmployeeId], [LogDate], [HoursLogged]) VALUES (2, 2, 101, CAST(N'2025-05-02' AS Date), 8)
INSERT [dbo].[EmployeeProjectLogs] ([LogId], [ProjectId], [EmployeeId], [LogDate], [HoursLogged]) VALUES (3, 2, 102, CAST(N'2025-05-03' AS Date), 7)
INSERT [dbo].[EmployeeProjectLogs] ([LogId], [ProjectId], [EmployeeId], [LogDate], [HoursLogged]) VALUES (5, 3, 201, CAST(N'2025-05-04' AS Date), 5)
SET IDENTITY_INSERT [dbo].[EmployeeProjectLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [Name], [Manager], [StartDate], [EndDate]) VALUES (2, N'Nafis UAE', N'Ali', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Projects] ([ProjectId], [Name], [Manager], [StartDate], [EndDate]) VALUES (3, N'Internal Portal', N'John', CAST(N'2025-02-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-05-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Projects] ([ProjectId], [Name], [Manager], [StartDate], [EndDate]) VALUES (4, N'UK1', N'Mng3', CAST(N'2025-08-20T11:28:07.8030000' AS DateTime2), CAST(N'2025-08-26T11:28:07.8030000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
